@import "../../scss/variables";

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 50px;

  &__logo {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 15px;
    font-size: 20px;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
    & a {
      color: $text;
      text-decoration: none;
    }
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__menu {
      margin-bottom: 0;
      text-decoration: none;
      color: $text;
    }
    & a {
      padding: 10px;
      margin-right: auto;
      color: $text;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: $skyblue;
        border-radius: 10px;
      }
    }
  }
  &__bars {
    display: none;
    color: $text;
  }
}

@include tablet(768px) {
  .navbar {
    &__nav {
      &__menu {
        display: none;
      }
    }
    &__bars {
      display: block;
      color: $text;
      cursor: pointer;
    }
  }
}
