@import "../../scss/variables";

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 50px;

  &__logo {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 15px;
    font-size: 20px;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
    & a {
      color: $text;
      text-decoration: none;
    }
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &__menu {
      margin-bottom: 0;
      text-decoration: none;
      color: $text;
    }
    & a {
      padding: 10px;
      margin-right: auto;
      color: $text;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: $skyblue;
        border-radius: 10px;
      }
    }
  }

  &__navopen {
    display: flex;
    flex-direction: column;

    &__menu {
      margin-bottom: 0;
      text-decoration: none;
      color: $text;
    }
    & a {
      display: block;
      padding: 10px;
      margin: 5px;
      color: $text;
      cursor: pointer;
      text-decoration: none;
      border-bottom: 1px solid $skyblue;
      transition: transform 0.3s ease-out;
      &:hover {
        background-color: $skyblue;
      }
    }
  }

  &__bars {
    display: none;
    color: $text;
  }
  .open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 200px;
    height: 100%;
    transition: transform 0.3s ease-out;
    background-color: $steelblue;
    margin-top: 50px;
    padding: 0 20px;
  }
}

@include tablet(768px) {
  .navbar {
    &__nav {
      &__menu {
        display: none;
      }
    }
    &__bars {
      display: block;
      color: $text;
      cursor: pointer;
    }
  }
}
