@import "../../scss/variables";

.testimonials {
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  &__card {
    padding: 30px;
    border: 1px solid $skyblue;
    height: auto;
    border-radius: 20px;

    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &__header h3 {
        font-size: 16px;
      }
      &__header p {
        opacity: 50%;
      }

      .header-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid $imgBorder;
        margin-right: 10px;
      }
    }
    &__body {
      width: auto;
      height: auto;

      .body-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 10px;
      }
      .body-text {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.4;
        opacity: 70%;
      }
    }
  }

  .steelblue {
    background-color: $steelblue;
    color: $text;
  }
  .darkcyan {
    background-color: $darkcyan;
    color: $text;
  }
  .rebeccapurple {
    background-color: $rebeccapurple;
    color: $text;
  }
  .sienna {
    background-color: $sienna;
    color: $text;
  }

  &__card:nth-of-type(1) {
    grid-column: 1/3;
  }
  &__card:nth-of-type(4) {
    grid-column: 2/4;
    grid-row: 2;
  }
  &__card:nth-of-type(5) {
    grid-column: 4;
    grid-row: 1/3;
  }
}

@include desktop(1280px) {
  .testimonials {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;

    &__card:nth-of-type(1) {
      grid-column: 1;
    }
    &__card:nth-of-type(4) {
      grid-column: 1;
      grid-row: 2;
    }
    &__card:nth-of-type(5) {
      grid-column: 2/4;
      grid-row: 2;
    }
  }
}
@include screen(1024px) {
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    &__card:nth-of-type(1) {
      grid-column: 1;
    }
    &__card:nth-of-type(4) {
      grid-column: 2;
      grid-row: 2;
    }
    &__card:nth-of-type(5) {
      grid-column: 1/3;
      grid-row: 5;
    }
  }
}
@include tablet(768px) {
  .testimonials {
    grid-template-columns: 1fr;
    width: 100%;

    &__card:nth-of-type(1) {
      grid-column: 1;
    }
    &__card:nth-of-type(4) {
      grid-column: 1;
      grid-row: 4;
    }
    &__card:nth-of-type(5) {
      grid-column: 1;
      grid-row: 5;
    }
  }
}
